<html>
    <head>
        <meta content="text/html" charset="UTF-8">
        <title>登陆界面</title>
    </head>
    <body>
        <form action="/login" name="loginform" method="post">
            <table border="1px solid black" cellpadding="0" cellspacing="0">
                <tr>
                    <th>用户名：</th><td align="center"><input type="text" name="username"></td>
                </tr>
                <tr>

                    <th>密&nbsp;码：</th><th align="center"><input type="password" name="password"></th>
                </tr>
                <tr>
                    <td><a href="/regist">注册</a></td><td><div align="center"><input type="submit" value="登陆"> <input type="button" value="人脸登陆" onclick="faceLogin()"> <input type="reset" value="取消"></div></td>
                </tr>
            </table>
        </form>
    </body>
    <script>
        function faceLogin() {
            document.loginform.action="/faceLogin"
            document.loginform.submit()
        }
    </script>
</html>